

  @import url('https://fonts.googleapis.com/css2?family=Coustard&family=Lusitana:wght@400;700&family=Maitree:wght@400;700&family=Work+Sans:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Coustard', serif;
    font-family: 'Lusitana', serif;
    font-family: 'Maitree', serif;
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 12px 18px;
    color: #fff;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    margin: 10px 0 23px ;
}
.text-ligth-gray{
    color: #727272;
    font-size: 1.1rem;
    padding: 15px 10px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);

}

header{
    background: rgba(255, 144, 14, 0.10);
    padding: 40px 100px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-title{
    font-size: 2.4rem;
    color:  #131313;
    font-weight: 700;
}
.nav-container ul{
    display: flex;
}
.nav-container  li{
    list-style: none;
    margin-right: 30px;
    font-size: 1.3rem;
    font-weight: 500;
}
.nav-container li a{
text-decoration: none;
color:  #424242;
}


.banner{
    max-width: 1440px;
}
.banner-container{
    max-width: 1440px;
    text-align: center;
    margin: 0 auto;
}
.banner-titl{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner img {
    width: 100%;
}


main{
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 80px;
    margin-left: 90px ;
}
.teams-container{
    display: flex;
    align-items: center;
}
.teams-img-container{
   display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;

}
.teams-content{
    padding-left: 30px;
    padding-right: 80px;
}
.team-title{
    font-size: 2.5rem;
    margin: 5px;
}
.quick{
    color: #727272;
    font-weight: 500;
}
.of{
    color:  #131313;
    font-weight: 700;
}
.features{
    color: #FF900E;
    font-weight: 700;
}
.feature{
    display: flex;
    justify-content: space-around;
    margin-top: 130px;
    gap: 35px;
}
.feature-content{
    margin-top: 25px;
    
    
}
.feature .feature-title{
    border-left: 5px solid  #FF900E;
    padding-left: 20px;
}
.feature-title{
    font-size: 2.2rem;
}
.feature-info{
    font-size: 20px;
    margin-left: 8px;
}
.feature-description{
    padding-top: 24px;
    padding-bottom: 30px;
}
.feature-img{
    margin-right: 100px;

}
.feature-img img{
    width: 600px;
    height: 700px;
    margin-left: 100px;
    
}
.ten-years{
    width: 320px;
    text-align: center;
    border-radius: 8px;
    background: #FF900E;
    color: #fff;
    padding: 40px;
    position: relative;
    bottom: 110px;

}
.ten-years h2{
    font-size: 3.8rem;
    margin: 0;
    
}
.ten-years p{
    font-size: 1.5rem;
    
    
}
.factor-title{
    color:  #131313;
    font-size: 45px;
    font-weight: 700;
}
.factors{
    padding: 20px;
}
.factors-work{
    display: flex;
    gap: 100px;
    align-items: center;
    padding-left: 50px;
    padding-right: 40px;
    margin-bottom: 100px;
}
.factor-icon{
    padding: 35px;
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
}
.factor-sting{
    color: #424242;
    font-size: 45px;
    font-weight: 600;
}
.factor-info{
    color: #727272;
    font-size: 1rem;
    font-weight: 600;
}
.sponser{
    text-align: center;
    margin-bottom: 50px;
}
.sponser-pic{
    display: flex;
    justify-content: space-around;
    margin-right: 50px;
    align-items: center;
    text-align: center;

}


/* responsive style */
@media screen and (max-width: 576px){
    header{
        padding: 20px;
    }
    .nav-container, .teams-container, .feature, .factors-work{
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
    .teams-container{
        margin-right: 100px;
    }
    .feature-img img{
        max-width: 350px;
        margin-left: 0;
        height: 300px;
    }
    .feature{
        margin-right: 50px;
    }
    .ten-years{
        position: static;
        max-width: 270px;
    }

}

 @media screen and (min-width: 576px) and (max-width: 992px){
    header{
        padding: 50px;
    }
    .nav-container, .teams-container, .feature 
    
    {
        flex-direction: column;
    }
    .teams-content{
        margin: 0 auto;
        text-align: center;

    }
    .teams-img-container{
        margin-right: 100px;
        padding-bottom: 20px;
    }
    .factors-work{
        grid-template-columns: repeat(2, 1fr);
    }
    
    

} 